body {
    width: 1024px;
    margin: auto; /* Center content horizontally. */
}

/* PAGE HEADER */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* The solution for the page header makes use of two flexboxes. First, it
   subdivides the header into a flexbox row container which contains the logo on
   the left and the navigation bar to the right. Then, it subdivides the
   navigation bar into a flexbox row container containing the navigation links.
   Since `float` does not work with flexbox, it uses margin-left on the
   rightmost nav link to "push" it out to the right. */

/* First, outer, flex container for the logo and the navigation bar. */
body > header {
    display: flex;
    flex-direction: row;
}

/* Make the nav take up all available horizontal space. Needed in order to make
   the rightmost nav link be positioned to the right of the page. */
nav {
    flex-grow: 1;
}

/* Second, inner, flex container for the navigation links. */
nav ul {
    display: flex;
    flex-direction: row;
    margin: 0; /* For aligning ul vertically with logo. */
    padding: 0; /* For "pushing" navigation bar up against the logo. */
}

nav > ul > li {
    width: 100px; /* Make all nav links the same width. */
    text-align: center; /* Align text horizontally. */
    line-height: 60px; /* Align text vertically. */
}

nav > ul > li > a {
    display: inline-block;
    height: 100%;
    width: 100%;
}

/* Since float does not work with flexbox, use margin-left to achieve a similar
   effect. */
nav > ul > li:last-child {
    margin-left: auto;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* MAIN AND ASIDE CONTENT */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* Flexbox container for the two columns. This class is also used to create the
   two article columns. */
.column-container {
    display: flex;
}

/* By default, all direct children of .column-container should have a relative
   size of 1. */
.column-container > * {
    flex: 1;
}

/* Left column, should take up twice the width of default columns. */
.column-container > main {
    flex: 2;
}

/* Make article images take up all available space. */
article > figure {
    width: 100%;
    margin: auto;
}

article > figure > img {
    width: 100%;
}

/* Add some horizontal spacing between the left and right page columns. */
aside {
    margin-left: 10px;
}

/* Add some vertical spacing between the page header and content below. */
body > header {
    margin-bottom: 10px;
}

/* Add some horizontal spacing between the article columns. */
.column-container > article:first-child {
    margin-right: 10px;
}

/* Remove default top margin for page headings. Spacing is achieved with padding
   instead. */
h2,
h3 {
    margin-top: 0;
}

/* Just some padding for the main content so it doesn't look so cramped. */
main,
aside {
    padding: 10px;
}

article {
    padding: 5px;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* FORMS */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
#form-container {
    width: 67%;
    margin: auto;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

input {
    margin-left: 5px;
}

form {
    padding: 10px;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* PAGE FOOTER */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
body > footer {
    text-align: center;
}

body > footer {
    padding: 10px 0;
    margin-top: 10px;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
