/* TODO: Add note explaining why I'm avoiding classes */

/* Requirement 1: All text on the pages should use a sans-serif font family. */
* {
    font-family: sans-serif;
}
/* END OF Requirement 1 */

/* Requirement 2: The pages should be 1024 pixels wide, and be centered on the
   page, with equal margins to the left and right. */
body {
    width: 1024px;
    margin: auto;
}
/* END OF Requirement 2 */

/* Requirement 3-PageHeader: Page header should contain site logo and nav links
   in one row. Login nav link should be floated to the right of the page. */

/* The solution for the page header makes use of two flexboxes. First, it
   subdivides the header into a flexbox row container which contains the logo on
   the left and the navigation bar to the right. Then, it subdivides the
   navigation bar into a flexbox row container containing the navigation links.
   Since `float` does not work with flexbox, it uses margin-left on the
   rightmost nav link to "push" it out to the right. */

/* First, outer, flex container for the logo and the navigation bar. */
body > header {
    display: flex;
    flex-direction: row;
}

/* Make the nav take up all available horizontal space. Needed in order to make
   the rightmost nav link be positioned to the right of the page. */
nav {
    flex-grow: 1;
}

/* Second, inner, flex container for the navigation links. */
nav ul {
    display: flex;
    flex-direction: row;
    margin: 0; /* For aligning ul vertically with logo. */
    padding: 0; /* For "pushing" navigation bar up against the logo. */
}

nav > ul > li {
    width: 100px; /* Make all nav links the same width. */
    text-align: center; /* Align text horizontally. */
    line-height: 60px; /* Align text vertically. */
}

/* Since float does not work with flexbox, use margin-left to achieve a similar
   effect. */
nav > ul > li:last-child {
    margin-left: auto;
}
/* END OF Requirement 3-PageHeader */

/* Requirement 3-Columns: Index page should be segmented into two columns with
   main content on the left and aside content on the right. The left column
   should be twice as wide as the right column. */

/* Flexbox container for the two columns. This class is also used to create the
   two article columns, see Requirement 3-TextColumns. */
.column-container {
    display: flex;
}

/* By default, all direct children of .column-container should have a relative
   size of 1. */
.column-container > * {
    flex: 1;
}

/* Left column, should take up twice the width of default columns. */
.column-container > main {
    flex: 2;
}
/* END OF Requirement 3-Columns */

/* Requirement 3-Footer: Text inside footer should be centered. */
body > footer {
    text-align: center;
}
/* END OF Requirement 3-Footer */

/* Temporary colors */
nav {
    background: lightcyan;
}

nav ul li {
    background-color: yellow;
}

aside {
    background-color: lavender;
}

main {
    background-color: lightskyblue;
}

body > footer {
    background-color: antiquewhite;
}

.column-container > article {
    background-color: greenyellow;
}
