/* FONTS */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
* {
    font-family: sans-serif;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* NAVIGATION */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
body > header > img {
    background-color: #f5f6f4;
}

nav {
    background-color: #67b43b;
}

nav > ul > li {
    list-style: none;
}

nav > ul > li > a {
    transition: 0.3s;
    background-color: #67b43b;
    color: #f5f6f4;
    text-decoration: none;
    font-weight: bold;
}

nav > ul > li > a:hover {
    background-color: #f5f6f4;
    color: #67b43b;
    text-decoration: underline;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* BACKGROUND */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
body {
    background: linear-gradient(#d0dfdf, #f0ffff);
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* MAIN SECTION */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
main {
    border-top: 3px ridge #72c740;
    background-color: #f5f6f4;
}

/* PARAGRAPHS */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
article:last-child {
    border-left: 1px groove silver;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* ASIDE SECTION */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
aside {
    border-top: 3px ridge #72c740;
    background-color: #f5f6f4;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* FORMS */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
form {
    border: 3px double #72c740;
    border-radius: 5px;
}

#form-container > h2 {
    text-transform: uppercase;
}

/* BUTTONS */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
input[type="submit"],
input[type="reset"] {
    transition: 0.3s;
    border-radius: 5px;
    padding: 7px;
    margin: auto;
    font-weight: bold;
    cursor: pointer;
}

input[type="reset"] {
    border: 2px solid red;
    color: #f5f6f4;
    background-color: red;
}

input[type="submit"] {
    border: 2px solid #67b43b;
    color: #f5f6f4;
    background-color: #67b43b;
}

input[type="submit"]:hover {
    color: #67b43b;
    background-color: #f5f6f4;
}

input[type="reset"]:hover {
    color: red;
    background-color: #f5f6f4;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* PAGE FOOTER */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
body > footer {
    color: #f5f6f4;
    background-color: #67b43b;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
